@use './reset.scss' as *;
:root {
	--font-jersey: 'Jersey 10', sans-serif;
	--font-monoton: 'Monoton', sans-serif;
	--font-bai-jamjuree: 'Bai Jamjuree', sans-serif;
	--font-dm_sans: 'DM Sans', sans-serif;
	--font-nosifer: 'NosiferFont', sans-serif;
	--font-inspiration: 'InspirationFont', sans-serif;
	--font-inclusive-sans: 'Inclusive Sans', sans-serif;
	--font-iceberg: 'Iceberg', sans-serif;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.app {
	box-shadow: 1px 0px 10px #1b2f4eb1;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	min-height: 100vh;
	max-width: 768px;
	background: linear-gradient(
			176.64deg,
			#233442 -58.73%,
			rgba(16, 88, 146, 0) 97.22%
		),
		url('/circles.svg') top right no-repeat;
}

footer {
}

body {
	font-family: var(--font-bai-jamjuree);
	color: var(--primary-color);
	background: #010114;
	background-position: center;
	background-size: contain;
}
